*{
  box-sizing: border-box;
}

html, body{
  font-family: $font-family-sans;
  font-size: $base-font-size;
  line-height: $lh-default;
  font-weight: $fw-light; 
  hyphens: auto;
  color:$text-color;
  background-color: $light;
  width: 100%;
  overflow-x: hidden; 
}


/* Headlines
############################################################################ */
.paragraph-headline{
  font-size: $l;
  font-weight: $fw-bold;
  color: $darker;
  margin-top: $m;
  margin-bottom: $m;
}
.paragraph-headline-m{
  font-size: $m;
  font-weight: $fw-bold;
  color: $darker;
  margin-top: $m;
}

.paragraph-headline-s{
  font-size: $s;
  font-weight: $fw-bold;
  color: $darkest;
  margin-top: $m;
}


/* Images
############################################################################ */

img{
  width: 100%;
}