/* Linklist
############################################################################ */
.linklist {
  &__item {
    font-family: 'Material Icons';
    line-height: $lh-default;

    margin-left: $m;

    &:before {
      font-size: $xs;
      color: rgba($color: $light, $alpha: 0.7);
      display: inline-block;
      margin-left: -$m;
      padding-right: $xxs;

      content: 'link';
    }

    & > a {
      font-family: $font-family-sans;
    }
  }
}

.other-articles{
  background-color: rgba($color: $dark, $alpha: 0.4);
  margin: 0px;
  padding: 0%;
  @include noborder;
height: 100%;
  h3{
    padding: $l $l 0px  $l;
  }
}

.article-preview{
  padding: $m;
  padding-bottom: $xxl;
}

.section-3{
  ol{
    padding-top: $s;
    padding-bottom: $m;
  }

  i{
  color: $cyan-dark;
  }
  @include noborder;
}

.buttons{
  background-color: $red;
  color: $light;
  font-weight: $fw-normal;
  text-decoration: none;
  &:hover{
    background-color: $cyan;
    transition: background-color $tr-fast;
  }
  @include button

}


  
