@mixin button{
  padding: $xxs $xs;
  border-radius: $border-radius;
}

@mixin noborder{
  border-bottom: none;
}

@mixin hideColumn{
  
  td:nth-child(2){
    display: none;
  }
  td:nth-child(3){
    display: none;
  }
  th:nth-child(2){
    display: none;
  }
  th:nth-child(3){
    display: none;
  }
}
@mixin showColumn{
  
  td:nth-child(2){
    display: table-cell;
    
  }
  td:nth-child(3){
    display: table-cell;
  }
  th:nth-child(2){
    display: table-cell;
  }
  th:nth-child(3){
    display: table-cell;
  }
}

@mixin transition{
 transition:  $cyan-dark $tr-medium;
}